<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TP-LottoGame.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E555D26C1F8FC50C00D61251</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E555D2851F8FC50C00D61251</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E555D2901F8FC50C00D61251</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
